@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
 color-scheme: dark;
}
.black-gradient {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #434343,
      #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #434343,
      #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (max-width: 720px) {
  .nav{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .navList{
    font-size: 12px;
    gap:2;
  }
  .sm-screen {
    font-size: 12px;
  }
  .main{
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: 16px;
  }
}